<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @provider.token %>
</p>

<p>
  <strong>Social data:</strong>
  <%= @provider.social_data %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
